@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  background: rgb( 213, 216, 220 );
  box-sizing:border-box;

  
}



